/* style from github.com */
.highlighted-source.github {background:#fff;}
.highlighted-source.github .c{color:#998;font-style:italic;}
.highlighted-source.github .err{color:#a61717;background-color:#e3d2d2;}
.highlighted-source.github .k{font-weight:bold;}
.highlighted-source.github .o{font-weight:bold;}
.highlighted-source.github .cm{color:#998;font-style:italic;}
.highlighted-source.github .cp{color:#999;font-weight:bold;}
.highlighted-source.github .c1{color:#998;font-style:italic;}
.highlighted-source.github .cs{color:#999;font-weight:bold;font-style:italic;}
.highlighted-source.github .gd{color:#000;background-color:#fdd;}
.highlighted-source.github .gd .x{color:#000;background-color:#faa;}
.highlighted-source.github .ge{font-style:italic;}
.highlighted-source.github .gr{color:#a00;}
.highlighted-source.github .gh{color:#999;}
.highlighted-source.github .gi{color:#000;background-color:#dfd;}
.highlighted-source.github .gi .x{color:#000;background-color:#afa;}
.highlighted-source.github .go{color:#888;}
.highlighted-source.github .gp{color:#555;}
.highlighted-source.github .gs{font-weight:bold;}
.highlighted-source.github .gu{color:#800080;font-weight:bold;}
.highlighted-source.github .gt{color:#a00;}
.highlighted-source.github .kc{font-weight:bold;}
.highlighted-source.github .kd{font-weight:bold;}
.highlighted-source.github .kp{font-weight:bold;}
.highlighted-source.github .kr{font-weight:bold;}
.highlighted-source.github .kt{color:#458;font-weight:bold;}
.highlighted-source.github .m{color:#099;}
.highlighted-source.github .s{color:#d14;}
.highlighted-source.github .na{color:#008080;}
.highlighted-source.github .nb{color:#0086B3;}
.highlighted-source.github .nc{color:#458;font-weight:bold;}
.highlighted-source.github .no{color:#008080;}
.highlighted-source.github .ni{color:#800080;}
.highlighted-source.github .ne{color:#900;font-weight:bold;}
.highlighted-source.github .nf{color:#900;font-weight:bold;}
.highlighted-source.github .nn{color:#555;}
.highlighted-source.github .nt{color:#000080;}
.highlighted-source.github .nv{color:#008080;}
.highlighted-source.github .ow{font-weight:bold;}
.highlighted-source.github .w{color:#bbb;}
.highlighted-source.github .mf{color:#099;}
.highlighted-source.github .mh{color:#099;}
.highlighted-source.github .mi{color:#099;}
.highlighted-source.github .mo{color:#099;}
.highlighted-source.github .sb{color:#d14;}
.highlighted-source.github .sc{color:#d14;}
.highlighted-source.github .sd{color:#d14;}
.highlighted-source.github .s2{color:#d14;}
.highlighted-source.github .se{color:#d14;}
.highlighted-source.github .sh{color:#d14;}
.highlighted-source.github .si{color:#d14;}
.highlighted-source.github .sx{color:#d14;}
.highlighted-source.github .sr{color:#009926;}
.highlighted-source.github .s1{color:#d14;}
.highlighted-source.github .ss{color:#990073;}
.highlighted-source.github .bp{color:#999;}
.highlighted-source.github .vc{color:#008080;}
.highlighted-source.github .vg{color:#008080;}
.highlighted-source.github .vi{color:#008080;}
.highlighted-source.github .il{color:#099;}