
.highlighted-source.solarized-dark .hll { background-color: #000000; }
.highlighted-source.solarized-dark  { background-color: #002b36; }
.highlighted-source.solarized-dark .c { color: #586E75; } /* Comment */
.highlighted-source.solarized-dark .err { color: #93A1A1; } /* Error */
.highlighted-source.solarized-dark .g { color: #93A1A1; } /* Generic */
.highlighted-source.solarized-dark .k { color: #859900; } /* Keyword */
.highlighted-source.solarized-dark .l { color: #93A1A1; } /* Literal */
.highlighted-source.solarized-dark .n { color: #93A1A1; } /* Name */
.highlighted-source.solarized-dark .o { color: #859900; } /* Operator */
.highlighted-source.solarized-dark .x { color: #CB4B16; } /* Other */
.highlighted-source.solarized-dark .p { color: #93A1A1; } /* Punctuation */
.highlighted-source.solarized-dark .cm { color: #586E75; } /* Comment.Multiline */
.highlighted-source.solarized-dark .cp { color: #859900; } /* Comment.Preproc */
.highlighted-source.solarized-dark .c1 { color: #586E75; } /* Comment.Single */
.highlighted-source.solarized-dark .cs { color: #859900; } /* Comment.Special */
.highlighted-source.solarized-dark .gd { color: #2AA198; } /* Generic.Deleted */
.highlighted-source.solarized-dark .ge { color: #93A1A1; font-style: italic; } /* Generic.Emph */
.highlighted-source.solarized-dark .gr { color: #DC322F; } /* Generic.Error */
.highlighted-source.solarized-dark .gh { color: #CB4B16; } /* Generic.Heading */
.highlighted-source.solarized-dark .gi { color: #859900; } /* Generic.Inserted */
.highlighted-source.solarized-dark .go { color: #93A1A1; } /* Generic.Output */
.highlighted-source.solarized-dark .gp { color: #93A1A1; } /* Generic.Prompt */
.highlighted-source.solarized-dark .gs { color: #93A1A1; font-weight: bold; } /* Generic.Strong */
.highlighted-source.solarized-dark .gu { color: #CB4B16; } /* Generic.Subheading */
.highlighted-source.solarized-dark .gt { color: #93A1A1; } /* Generic.Traceback */
.highlighted-source.solarized-dark .kc { color: #CB4B16; } /* Keyword.Constant */
.highlighted-source.solarized-dark .kd { color: #268BD2; } /* Keyword.Declaration */
.highlighted-source.solarized-dark .kn { color: #859900; } /* Keyword.Namespace */
.highlighted-source.solarized-dark .kp { color: #859900; } /* Keyword.Pseudo */
.highlighted-source.solarized-dark .kr { color: #268BD2; } /* Keyword.Reserved */
.highlighted-source.solarized-dark .kt { color: #DC322F; } /* Keyword.Type */
.highlighted-source.solarized-dark .ld { color: #93A1A1; } /* Literal.Date */
.highlighted-source.solarized-dark .m { color: #2AA198; } /* Literal.Number */
.highlighted-source.solarized-dark .s { color: #2AA198; } /* Literal.String */
.highlighted-source.solarized-dark .na { color: #93A1A1; } /* Name.Attribute */
.highlighted-source.solarized-dark .nb { color: #B58900; } /* Name.Builtin */
.highlighted-source.solarized-dark .nc { color: #268BD2; } /* Name.Class */
.highlighted-source.solarized-dark .no { color: #CB4B16; } /* Name.Constant */
.highlighted-source.solarized-dark .nd { color: #268BD2; } /* Name.Decorator */
.highlighted-source.solarized-dark .ni { color: #CB4B16; } /* Name.Entity */
.highlighted-source.solarized-dark .ne { color: #CB4B16; } /* Name.Exception */
.highlighted-source.solarized-dark .nf { color: #268BD2; } /* Name.Function */
.highlighted-source.solarized-dark .nl { color: #93A1A1; } /* Name.Label */
.highlighted-source.solarized-dark .nn { color: #93A1A1; } /* Name.Namespace */
.highlighted-source.solarized-dark .nx { color: #93A1A1; } /* Name.Other */
.highlighted-source.solarized-dark .py { color: #93A1A1; } /* Name.Property */
.highlighted-source.solarized-dark .nt { color: #268BD2; } /* Name.Tag */
.highlighted-source.solarized-dark .nv { color: #268BD2; } /* Name.Variable */
.highlighted-source.solarized-dark .ow { color: #859900; } /* Operator.Word */
.highlighted-source.solarized-dark .w { color: #93A1A1 } /* Text.Whitespace */
.highlighted-source.solarized-dark .mf { color: #2AA198; } /* Literal.Number.Float */
.highlighted-source.solarized-dark .mh { color: #2AA198; } /* Literal.Number.Hex */
.highlighted-source.solarized-dark .mi { color: #2AA198; } /* Literal.Number.Integer */
.highlighted-source.solarized-dark .mo { color: #2AA198; } /* Literal.Number.Oct */
.highlighted-source.solarized-dark .sb { color: #586E75; } /* Literal.String.Backtick */
.highlighted-source.solarized-dark .sc { color: #2AA198; } /* Literal.String.Char */
.highlighted-source.solarized-dark .sd { color: #93A1A1; } /* Literal.String.Doc */
.highlighted-source.solarized-dark .s2 { color: #2AA198; } /* Literal.String.Double */
.highlighted-source.solarized-dark .se { color: #CB4B16; } /* Literal.String.Escape */
.highlighted-source.solarized-dark .sh { color: #93A1A1; } /* Literal.String.Heredoc */
.highlighted-source.solarized-dark .si { color: #2AA198; } /* Literal.String.Interpol */
.highlighted-source.solarized-dark .sx { color: #2AA198; } /* Literal.String.Other */
.highlighted-source.solarized-dark .sr { color: #DC322F; } /* Literal.String.Regex */
.highlighted-source.solarized-dark .s1 { color: #2AA198; } /* Literal.String.Single */
.highlighted-source.solarized-dark .ss { color: #2AA198; } /* Literal.String.Symbol */
.highlighted-source.solarized-dark .bp { color: #268BD2; } /* Name.Builtin.Pseudo */
.highlighted-source.solarized-dark .vc { color: #268BD2; } /* Name.Variable.Class */
.highlighted-source.solarized-dark .vg { color: #268BD2; } /* Name.Variable.Global */
.highlighted-source.solarized-dark .vi { color: #268BD2; } /* Name.Variable.Instance */
.highlighted-source.solarized-dark .il { color: #2AA198; } /* Literal.Number.Integer.Long */